.LinkTo {
  margin: auto;
  flex-basis: 1;

  text-decoration: "none",

}


.LinkTo:hover {
  color: "white";
}

.LinkTo:visited {
  text-decoration: "none";
}

.LinkTo:active {
  text-decoration: "none";
}


.activeClass {
  background-color: red;
}